.wok{
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.wok_container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanation{
    display: flex;
    padding-top: 24px;
    padding-bottom: 48px;
}

.explanation img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-left: 48px;
    border-radius: 8px ;
}