body>div {
    display: flex;
    justify-content: center;
  }

  .centert_content {
    max-width: 1440px;
    width: 100%;
  }
  
  .background_full_width {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .bg_leightgrey{
    background-color: rgba(240, 240, 240, 0.61);
  }
  