footer {
  display: flex;
  flex-direction: column;
 align-items: center;
  justify-content: center;
  
  
  height: 240px;
 
}

.footer_width{
  width: 80%;
}


.bg_grey{

  width: 100%;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
}

.footer_container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer_container a{
  display: flex;
}

.rth-img {
  height: 80px;
  filter: invert(1);
}

body {
  margin: 0px;
}



.ser-img {
  width: 40px;
}


.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  object-fit: cover;
}

.da_im{

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

 

}

.da_im *{
  padding-left: 8px;
  color: white;
  text-decoration: none;
}



.da_im a:hover{
  color: green;
}

@media (max-width: 620px) {

  .rth-img {
    display: none;
  }

  .kochwelt-img {
    content: url(../img/logo_small.png);
    filter: invert();
    width: 48px;
  }

}

@media (max-width: 400px){

  .social-media {
    gap: 12px;
  }
  .da_im{
    font-size: 14px;
  }


}