<<<<<<< HEAD
a {
  color: black;
  text-decoration: none;

}



=======

a{
  color: black;
 text-decoration:  none;

}

>>>>>>> parent of 353bf85 (new)
html {
  scroll-behavior: smooth;
  font-family: raleway;
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
body>div {
  display: flex;
  justify-content: center;
}

.background_full_width {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bg_leightgrey{
  background-color: rgba(240, 240, 240, 0.61);
}


body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.centert_content {
  max-width: 1440px;
  width: 100%;
}






=======
.aot {
  display: flex;
  justify-content: center;
  height: 75px;
  box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.2);
}

>>>>>>> parent of 353bf85 (new)
header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

header a {
  display: flex;
  align-items: center;
}

.logo {
  width: 214px;
  height: 64px;
  object-fit: cover;
}

.menu {
  display: flex;
  margin-top: 40px;
  gap: 24px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu a:hover {
  color: green;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.recipe_of_the_day {
  display: flex;
  width: 80%;
<<<<<<< HEAD

=======
  
>>>>>>> parent of 353bf85 (new)
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
}

.img_round_border {
  border-radius: 16px;
}

.recipe_of_the_day_img {
<<<<<<< HEAD

  width: 50%;
  aspect-ratio: 16/9;
  object-fit: cover;
=======
 
 width: 50%;
 aspect-ratio: 16/9;
 object-fit: cover;
>>>>>>> parent of 353bf85 (new)

}

.recipe_of_the_day_text {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 16px;
}


.recipe_of_the_day_text_titel {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 8px;
}

.recipe_of_the_day_text_subtext {
  font-weight: 300;
}

.button {
  color: white;
  font-size: 16px;
  background-color: #008000;

  width: 240px;
  border: none;
  padding-block: 0;
  padding-inline: 0;
  padding: 12px;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-family: raleway;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 80%;
}

h2 {
  font-family: raleway;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}

#secondpart {
<<<<<<< HEAD
  width: 100%;
=======
  background-color: rgba(240, 240, 240, 0.61);
>>>>>>> parent of 353bf85 (new)
  height: 350px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.fourimg {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
}

.image {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  object-fit: cover;
}

.imgtxt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
<<<<<<< HEAD

=======
  
>>>>>>> parent of 353bf85 (new)
}

.wok {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.wok_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanation {
  display: flex;
  padding-top: 24px;
  padding-bottom: 48px;
  align-items: center;
}

.explanation img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin-left: 48px;
  border-radius: 8px;
}



.rth-img {
  height: 80px;
  filter: invert(1);
}

.hut-img {
  height: 80px;
}

body {
  margin: 0px;
}


.ser-img {
  width: 40px;
}



.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  object-fit: cover;
}

@media (max-width: 620px) {

  .rth-img {
    display: none;
  }

  .kochwelt-img {
    content: url(./img/logo_small.png);
    filter: invert();
    width: 80px;
  }

  .hut-img {
    display: flex;
    justify-content: flex-start;
    filter: invert(1);
    height: 80px;
  }


}

@media (max-width: 400px) {
  .kochwelt-img {
    width: 64px;
  }

  .social-media {
    gap: 12px;
  }
}

@media (max-width: 900px) {


  .recipe_of_the_day {
    display: flex;
    flex-direction: column;
    height: auto;
  }
<<<<<<< HEAD

  .recipe_of_the_day img {
    width: 100%;
=======
  .recipe_of_the_day img{
  width: 100%;
>>>>>>> parent of 353bf85 (new)
  }

  .recipe_of_the_day_text {
    text-align: center;

    align-items: center;
    padding-left: 0px;
  }

  .recipe_of_the_day_text_titel {
    padding-top: 8px;
  }

  .recipe_of_the_day_text_subtext {
    padding-top: 8px;
    padding-bottom: 16px;
  }

<<<<<<< HEAD
  .fourimg {
    flex-direction: column;
    margin-bottom: 20px;
  }

  #secondpart {
    height: 100%;
  }
}
=======
    .fourimg{
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  #secondpart{
    height: 100%;
}
}

>>>>>>> parent of 353bf85 (new)
